body {
    font-family: Georgia, "Times New Roman", Times, serif;
}

.topIm {
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

header h1 {
    font-size: 36px;
}

.firefox-ima {
    float: left;
}